/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/

*{
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -o-box-sizing: border-box;
}

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/** Fonts **/
@font-face {
  font-family: 'Arm Wrestler';
  src: url("../fonts/ArmWrestler.ttf");
}

/** Custom styles **/
.transition{
  transition: all 0.6s ease-in-out;
  -webkit-transition: all 0.6s ease-in-out;
  -moz-transition: all 0.6s ease-in-out;
  -o-transition: all 0.6s ease-in-out;
}

html,body{
  width: 100%;
  height: 100%;
  background: url("../img/texture.png") repeat;
}

#container{
  position: absolute;

  top: 0;
  left: 15%;
  width: 70%;
  height: 100%;
  
  border-top-right-radius: 20px;
  border-bottom-left-radius: 20px;
    background: rgba(183,222,237,1);
    background: -moz-linear-gradient(-45deg, rgba(183,222,237,1) 0%, rgba(183,222,237,1) 30%, rgba(33,180,226,1) 48%, r gba(113,206,239,1) 59%, rgba(183,222,237,1) 72%, rgba(183,222,237,1) 100%);
    background: -webkit-gradient(left top, right bottom, color-stop(0%, rgba(183,222,237,1)), color-stop(30%, rgba(183,222,237,1)), color-stop(48%, rgba(33,180,226,1)), color-stop(59%, rgba(113,206,239,1)), color-stop(72%, rgba(183,222,237,1)), color-stop(100%, rgba(183,222,237,1)));
    background: -webkit-linear-gradient(-45deg, rgba(183,222,237,1) 0%, rgba(183,222,237,1) 30%, rgba(33,180,226,1) 48%, rgba(113,206,239,1) 59%, rgba(183,222,237,1) 72%, rgba(183,222,237,1) 100%);
    background: -o-linear-gradient(-45deg, rgba(183,222,237,1) 0%, rgba(183,222,237,1) 30%, rgba(33,180,226,1) 48%, rgba(113,206,239,1) 59%, rgba(183,222,237,1) 72%, rgba(183,222,237,1) 100%);
    background: -ms-linear-gradient(-45deg, rgba(183,222,237,1) 0%, rgba(183,222,237,1) 30%, rgba(33,180,226,1) 48%, rgba(113,206,239,1) 59%, rgba(183,222,237,1) 72%, rgba(183,222,237,1) 100%);
    background: linear-gradient(135deg, rgba(183,222,237,1) 0%, rgba(183,222,237,1) 30%, rgba(33,180,226,1) 48%, rgba(113,206,239,1) 59%, rgba(183,222,237,1) 72%, rgba(183,222,237,1) 100%);
                    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#b7deed', endColorstr='#b7deed', GradientType=1 );

}

.title{
  position: relative;

  font-family: 'Arm Wrestler', sans-serif;
  color: white;
  width: 60%;
  margin: 100px auto 0 auto;
  text-align: center;

  padding: 5px 10px;

  font-size: 2.2em;
  letter-spacing: 0.5px;
}

.plan-selector{
  width: 50%;
  height: auto;

  margin: 0 auto;
}

.plan-input{
  border: 0;
  background: #eee;
  height: 50px;
  padding: 5px;

  color: gray;

  margin-bottom: 2px;
}

#places{
  width: -webkit-calc(100% - 50px);
}

.search-button{
  width: 50px;
  height: 50px;

  background: #eee;

  line-height: 50px;
  font-size: 1.2em;

  color: gray;
  text-align: center;

  float: left;

  cursor: pointer;
}

#cid{
  border-right: 1px solid rgba(0,114,255,0.9);
}

#cod{
  border-left: 1px solid rgba(0,114,255,0.9);
}

.full-width{
  width: 100%;
  float: left;
}

.half-width{
  width: 50%;
  float: left;
}

.response-container{
  width: 100%;
  height: auto;
}

.city-resp{
    font-weight:900;
    color:#633c3c;
    text-align:center;
    line-height:50px;
  width: 50%;
  height: 50px;
  background: red;
  float: left;
  margin-bottom: 5px;
  letter-spacing:1px;
}
.bg-go{
    background: rgba(145,232,66,1);
    background: -moz-linear-gradient(left, rgba(145,232,66,1) 5%, rgba(205,253,81,1) 45%, rgba(210,255,82,1) 48%, rgba(210,255,82,1) 57%);
    background: -webkit-gradient(left top, right top, color-stop(5%, rgba(145,232,66,1)), color-stop(45%, rgba(205,253,81,1)), color-stop(48%, rgba(210,255,82,1)), color-stop(57%, rgba(210,255,82,1)));
    background: -webkit-linear-gradient(left, rgba(145,232,66,1) 5%, rgba(205,253,81,1) 45%, rgba(210,255,82,1) 48%, rgba(210,255,82,1) 57%);
    background: -o-linear-gradient(left, rgba(145,232,66,1) 5%, rgba(205,253,81,1) 45%, rgba(210,255,82,1) 48%, rgba(210,255,82,1) 57%);
    background: -ms-linear-gradient(left, rgba(145,232,66,1) 5%, rgba(205,253,81,1) 45%, rgba(210,255,82,1) 48%, rgba(210,255,82,1) 57%);
    background: linear-gradient(to right, rgba(145,232,66,1) 5%, rgba(205,253,81,1) 45%, rgba(210,255,82,1) 48%, rgba(210,255,82,1) 57%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#91e842', endColorstr='#d2ff52', GradientType=1 );
}

.bg-wait{
    background: rgba(252,234,187,1);
    background: -moz-linear-gradient(left, rgba(252,234,187,1) 0%, rgba(248,181,0,1) 3%, rgba(252,205,77,1) 29%, rgba(251,223,147,1) 100%);
    background: -webkit-gradient(left top, right top, color-stop(0%, rgba(252,234,187,1)), color-stop(3%, rgba(248,181,0,1)), color-stop(29%, rgba(252,205,77,1)), color-stop(100%, rgba(251,223,147,1)));
    background: -webkit-linear-gradient(left, rgba(252,234,187,1) 0%, rgba(248,181,0,1) 3%, rgba(252,205,77,1) 29%, rgba(251,223,147,1) 100%);
    background: -o-linear-gradient(left, rgba(252,234,187,1) 0%, rgba(248,181,0,1) 3%, rgba(252,205,77,1) 29%, rgba(251,223,147,1) 100%);
    background: -ms-linear-gradient(left, rgba(252,234,187,1) 0%, rgba(248,181,0,1) 3%, rgba(252,205,77,1) 29%, rgba(251,223,147,1) 100%);
    background: linear-gradient(to right, rgba(252,234,187,1) 0%, rgba(248,181,0,1) 3%, rgba(252,205,77,1) 29%, rgba(251,223,147,1) 100%);
                   filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#fceabb', endColorstr='#fbdf93', GradientType=1 );
}

.bg-stop{
    background: rgba(248,181,0,1);
    background: -moz-linear-gradient(left, rgba(248,181,0,1) 0%, rgba(248,181,0,1) 28%, rgba(252,234,187,1) 99%, rgba(251,223,147,1) 100%);
    background: -webkit-gradient(left top, right top, color-stop(0%, rgba(248,181,0,1)), color-stop(28%, rgba(248,181,0,1)), color-stop(99%, rgba(252,234,187,1)), color-stop(100%, rgba(251,223,147,1)));
    background: -webkit-linear-gradient(left, rgba(248,181,0,1) 0%, rgba(248,181,0,1) 28%, rgba(252,234,187,1) 99%, rgba(251,223,147,1) 100%);
    background: -o-linear-gradient(left, rgba(248,181,0,1) 0%, rgba(248,181,0,1) 28%, rgba(252,234,187,1) 99%, rgba(251,223,147,1) 100%);
    background: -ms-linear-gradient(left, rgba(248,181,0,1) 0%, rgba(248,181,0,1) 28%, rgba(252,234,187,1) 99%, rgba(251,223,147,1) 100%);
    background: linear-gradient(to right, rgba(248,181,0,1) 0%, rgba(248,181,0,1) 28%, rgba(252,234,187,1) 99%, rgba(251,223,147,1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f8b500', endColorstr='#fbdf93', GradientType=1 );

}

.plan-trip{
    cursor:pointer;
    text-align:center;
    line-height:50px;
    letter-spacing:1px;
    height: 50px;
    font-size:1.2em;
    color: #eee;
    font-weight:900;
}

.plan-trip:hover{
    background-color:rgba(255,255,255,0.9);
    color:#633c3c;
    letter-spacing:1px;
}

#container{
    border:10px solid #eee;
     -moz-box-shadow:    inset 0 0 10px #000000;
   -webkit-box-shadow: inset 0 0 10px #000000;
   box-shadow:         inset 0 0 10px #000000;
}
