<!DOCTYPE html>
<html>
<head>
  <title>Plan Your Travel</title>
  <link rel="stylesheet" type="text/css" href="{{ url_for('static',filename='css/style.css') }}">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css">
  <script type="text/javascript" src="{{ url_for('static',filename='js/jquery-3.0.0.min.js') }}"></script>
</head>
<body>
  <section id="container">
    <div class="title">
      Plan Your Booking
    </div>
    <div class="plan-selector transition">
      <input type="text" id="places" placeholder="Enter your travel destination" class="plan-input full-width" required/>
      <div class="search-button"><i class="fa fa-search"></i></div>
      <input type="text" id="cid" placeholder="Check In Date" onfocus="this.type='date'" class="plan-input half-width" required/>
      <input type="text" id="cod" placeholder="Check Out Date" onfocus="this.type='date'" class="plan-input half-width" required/>

      <div class="response-container">
      </div>
    </div>
  </section>
</body>
<script type="text/javascript" src="{{ url_for('static',filename='js/index.js') }}"></script>
</html>
